@model Conta.Core.Aggregates.ContaCategoria.ContaCategoria

@{
    ViewData["Title"] = "Detalhes da Categoria";
}

<h1>Detalhes da Categoria</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Model.Nome
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Voltar para Lista</a>
</div>

